.tunnel circle {
  /* by default elements transform from the top left so we need to say transform from the center*/
  transform-origin: center;
}

.w-200 {
  width: 200%;
}

.bg-blue {
  background-color: #7CEBFC;
}

.bg-purple {
  background-color: #CA8CF9;
}

.bg-yellow {
  background-color: #FFF44C;
}

.bg-red{
  background-color: #F9343D;
}

