.tunnel circle,
#crosses path,
#squares rect {
  /* by default elements transform from the top left so we need to say transform from the center*/
  transform-origin: center;
}

.w-200 {
  width: 200%;
}

.bg-blue {
  background-color: #7CEBFC;
}

.bg-purple {
  background-color: #CA8CF9;
}

.bg-yellow {
  background-color: #FFF44C;
}

.bg-red{
  background-color: #F9343D;
}

.box {
  box-shadow: inset 0 0 0 4px #000;
}

.conveyer-belt {
  border-left: solid 4px #000;
  border-right: solid 4px #000;
}

.page {
    border: solid 4px #000;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #000;
}

.squares rect {
  /*offsets boxes so they appear in middle*/
  transform: translate(-50%, -50%);
  transform-box: fill-box;
}
